<%= form_with(model: sauce) do |form| %>
  <% if sauce.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sauce.errors.count, "error") %> prohibited this sauce from being saved:</h2>

      <ul>
        <% sauce.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :heat_level %>
    <%= form.number_field :heat_level %>
  </div>

  <div class="field">
    <%= form.label :best_on %>
    <%= form.text_area :best_on%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
